{% load static %}
{% include 'head.html' %}
   
{% block content %}
<div class="container">
    <br>
    <div class="col-md-12 col-sm-12">
        <div class="courses-thumb courses-thumb-secondary">
            <div class="text-center">
                    <form action="" method="post">
                        <label for="fname">Imię i nazwisko / Nazwa firmy:</label><br>
                        <input type="text" id="name/company_name" name="name/company_name"><br>
                        <label for="PESEL">PESEL:</label><br>
                        <input type="number" id="PESEL" name="PESEL"><br>
                        <label for="NIP">NIP:</label><br>
                        <input type="number" id="NIP" name="NIP"><br>
                        <label for="city">Miasto:</label><br>
                        <input type="text" id="city" name="city"><br>
                        <label for="Zip">Kod pocztowy:</label><br>
                        <input type="number" id="Zip" name="Zip"><br>
                        <label for="phone">Telefon:</label><br>
                        <input type="number" id="phone" name="phone"><br>
                        <label for="Email">Email:</label><br>
                        <input type="email" id="Email" name="Email"><br>
                        <br>
                        <input type="Submit">
                    </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% include 'footer.html' %}