{% extends 'head.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
             <div class="col-md-6 col-xs-12">
                  <div>
                        {% if car.image %}
                            <img src="{{car.image.url}}" alt="" class="img-responsive wc-image">
                        {% else %}
                            <div class="no-image-icon">
                                <i class="fa fa-car"></i>
                            </div>
                        {% endif %}
                  </div>

                  <br>
             </div>

             <div class="col-md-6 col-xs-12">
                  <form action="#" method="post" class="form">
                       <h2>{{car.make}} {{car.model}}</h2>

                       <p class="lead"><strong class="text-primary">{{car.price}} PLN</strong></p>

                       <div class="row">
                            <div class="col-md-4 col-sm-6">
                                 <p>
                                      <span>Rodzaj auta:</span>
                                      <br>
                                      <strong>{{car.type}}</strong>
                                 </p>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                 <p>
                                      <span> Marka </span>
                                      <br>
                                      <strong>{{car.make}}</strong>
                                 </p>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                 <p>
                                      <span> Model</span>
                                      <br>
                                      <strong>{{car.model}}</strong>
                                 </p>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                 <p>
                                      <span>Rok produkcji</span>
                                      <br>
                                      <strong>{{car.year}}</strong>
                                 </p>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                 <p>
                                      <span>Przebieg</span>
                                      <br>
                                      <strong>{{car.mileage}} km</strong>
                                 </p>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                 <p>
                                      <span>Paliwo</span>
                                      <br>
                                      <strong>{{car.fuel_type}}</strong>
                                 </p>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                 <p>
                                      <span>Pojemność silnika</span>
                                      <br>
                                      <strong>{{car.engine_capacity}} cm<sup>3</sup></strong>
                                 </p>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                 <p>
                                      <span>Moc</span>
                                      <br>
                                      <strong>{{car.engine_power}} KM</strong>
                                 </p>
                            </div>


                            <div class="col-md-4 col-sm-6">
                                 <p>
                                      <span>Skrzynia biegów</span>
                                      <br>
                                      <strong>{{car.gear}}</strong>
                                 </p>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                 <p>
                                      <span>Liczba miejsc</span>
                                      <br>
                                      <strong>{{car.seats}}</strong>
                                 </p>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                 <p>
                                      <span>Liczba drzwi</span>
                                      <br>
                                      <strong>{{car.doors}}</strong>
                                 </p>
                            </div>

                            <div class="col-md-4 col-sm-6">
                                 <p>
                                      <span>Kolor</span>
                                      <br>
                                      <strong>{{car.color}}</strong>
                                 </p>
                            </div>
                       </div>
                  </form>
             </div>
        </div>

        <div class="row">
               <div class="col-lg-8 col-xs-12">
                    <div class="panel panel-default">
                         <div class="panel-heading">
                              <h4>OPIS</h4>
                         </div>

                         <div class="panel-body">
                              <p>{{car.description}}</p>
                         </div>
                    </div>
               </div>
               <div class="col-lg-4 col-xs-12">
                    <div class="panel panel-default">
                         <div class="panel-heading">
                            <h4>KALKULATOR KREDYTOWY</h4>
                         </div>
                
                         <div class="panel-body">
                              <label for="price">Chcę pożyczyć: <span id="priceValue">{{car.price}}</span> PLN</label>
                              <input type="range" id="price" name="price" min="0" max="{{car.price}}" value="{{car.price}}" class="slider">
                
                              <label for="installments">Liczba rat: <span id="installmentsValue">24</span></label>
                              <input type="range" id="installments" name="installments" min="3" max="60" value="24" class="slider">
                
                              <br>
                
                              <p>RRSO: <strong id="rrso">34</strong>%</p>
                              <p>Kwota raty: <strong id="installmentAmount">---</strong> PLN</p>

                              <p><small><small> Ten kalkulator jest tylko przykładem i rzeczywisty koszt kredytu może być inny. Skonsultuj się z doradcą finansowym lub bankiem, aby uzyskać dokładne informacje.</small></small></p>
       
                         </div>
                    </div>
                </div>
                
                
                
          </div>   
     </div>
</section>
     
<script>
     function calculateInstallment() {
         var price = parseFloat(document.getElementById('price').value);
         var installments = parseInt(document.getElementById('installments').value);
         var rrso = 0.34; // RRSO jako wartość stała - 10%
 
         var monthlyInterestRate = rrso / 12;
         var denominator = Math.pow((1 + monthlyInterestRate), installments) - 1;
 
         var installmentAmount = price * ((monthlyInterestRate * Math.pow((1 + monthlyInterestRate), installments)) / denominator);
 
         document.getElementById('installmentAmount').innerText = installmentAmount.toFixed(2);
     }
 
     document.getElementById('price').oninput = function() {
         document.getElementById('priceValue').innerText = this.value;
         calculateInstallment();
     }
 
     document.getElementById('installments').oninput = function() {
         document.getElementById('installmentsValue').innerText = this.value;
         calculateInstallment();
     }
 
     // Initial calculation
     calculateInstallment();
 </script>
 
 

{% endblock %}