{% extends 'head.html' %}
{% load static %}
{% block content %}

<section class="section-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xs-12">
                <div class="form-group">
                    <select class="form-control" id="sort-select" onchange="location = this.value;">
                        <option value="?">Domyślne sortowanie</option>
                        <option value="?sort_by=make">Sortowanie wg: marki</option>
                        <option value="?sort_by=model">Sortowanie wg: modelu</option>
                        <option value="?sort_by=price">Sortowanie wg: ceny</option>
                        <option value="?sort_by=year">Sortowanie wg: roku</option>
                    </select>
                </div>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                            <h3 class="panel-title">
                                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                                    FILTRY
                                </a>
                            </h3>
                        </div>
                        <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                            <div class="panel-body px-3 mb-4">
                                <form method="get">
                                    <div class="form-group">
                                        {{ filter.form.as_p }}
                                    </div>                                    
                                    <button type="submit" class="section-btn btn btn-primary btn-block">Filtruj</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <a id="compare-button" class="btn btn-primary" href="#" disabled>Porównaj samochody</a>

            </div>

            <div class="col-lg-9 col-xs-12">
                <div class="row">
                    {% for car in car_list %}
                        {% if car.availability == True %}
                        <div class="col-lg-6 col-md-4 col-sm-6">
                            <div class="courses-thumb courses-thumb-secondary">
                                <div class="courses-top">

                                    <div class="courses-image">
                                        {% if car.image %}
                                            <img src="{{car.image.url}}" class="img-responsive" alt="" style="max-width: 100%; object-fit: cover;">
                                        {% else %}
                                            <div class="no-image-icon">
                                                <i class="fa fa-car"></i>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="courses-date">
                                        <span title="Przebieg"><i class="fa fa-dashboard"></i>
                                            {{car.mileage}} km
                                        </span>
                                        <span title="Pojemność silnika"><i class="fa fa-cube"></i>
                                            {{ car.engine_capacity }} cm<sup>3</sup>
                                        </span>
                                        <span title="Rodzaj skrzyni biegów"><i class="fa fa-cog"></i>
                                            {{ car.gear }}
                                        </span>
                                    </div>            
                                </div>
                
                                <div class="courses-detail">
                                    <h3><a href="car-details.html">
                                        {{car.make}} {{car.model}}
                                    </a></h3>
                
                                    <p class="lead"><strong>
                                        {{car.price}} PLN
                                    </strong></p>
                
                                    <p>
                                        {{car.engine_power}} KM&nbsp;&nbsp;/&nbsp;&nbsp;
                                        {{car.fuel_type}}&nbsp;&nbsp;/&nbsp;&nbsp;
                                        {{car.year}}
                                        
                                    </p>
                                </div>
                                
                                <div class="courses-info">
                                    <a href="{% url 'home:car_details' car.id %}" class="section-btn btn btn-primary btn-block">Więcej informacji</a>
                                    <input type="checkbox" class="compare-checkbox" value="{{ car.id }}"> Porównaj
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .courses-image {
        height: 200px; /* lub inną stałą wysokość */
        overflow: hidden; /* ukrywa nadmiarowe piksele obrazu */
        position: relative; /* ustawia pozycję względem rodzica */
    }
    .no-image-icon {
        position: absolute; /* ustawia pozycję względem rodzica */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f5f5f5; /* lub inny kolor tła */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        let compareList = [];
        const compareCheckboxes = document.querySelectorAll('.compare-checkbox');
    
        compareCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', (e) => {
                const carId = e.target.value;
    
                if (e.target.checked) {
                    // Dodaj samochód do listy porównania
                    compareList.push(carId);
                } else {
                    // Usuń samochód z listy porównania
                    const index = compareList.indexOf(carId);
                    if (index > -1) {
                        compareList.splice(index, 1);
                    }
                }
    
                // Przekaż listę samochodów do porównania do URL
                const compareUrl = new URL(window.location.protocol + "//" + window.location.host + "/compare/");
                compareList.forEach(id => compareUrl.searchParams.append('compare', id));
    
                // Zaktualizuj przycisk porównania
                const compareButton = document.getElementById('compare-button');
                if (compareList.length >= 2) {
                    compareButton.disabled = false;
                    compareButton.href = compareUrl.href;
                } else {
                    compareButton.disabled = true;
                    compareButton.href = '#';
                }
            });
        });
    });
    </script>
    
    

{% endblock %}
