{% load static %}
{% include 'head.html' %}
   
{% block content %}
<form method="get">
	<label for="filter">Filtruj:</label>
	<input type="text" id="filter" name="filter" value="{{ filter_value }}">
	<button type="submit">Filtruj</button>
</form>
    <button class="add-transaction-button" onclick="location.href='add_client'" >Dodaj klienta</button>
	<table>
		<thead>
			<tr>
                <th><a href="?sort=name{% if sort == 'name' %}&direction={{ direction|opposite }}{% endif %}">Imię i nazwisko klienta / Nazwa firmy</a></th>
                <th><a href="?sort=pesel{% if sort == 'pesel' %}&direction={{ direction|opposite }}{% endif %}">PESEL</a></th>
                <th><a href="?sort=nip{% if sort == 'nip' %}&direction={{ direction|opposite }}{% endif %}">NIP</a></th>
                <th><a href="?sort=adress{% if sort == 'adress' %}&direction={{ direction|opposite }}{% endif %}">Adres</a></th>
                <th><a href="?sort=city{% if sort == 'city' %}&direction={{ direction|opposite }}{% endif %}">Miasto</a></th>
                <th><a href="?sort=zip{% if sort == 'zip' %}&direction={{ direction|opposite }}{% endif %}">Kod pocztowy</a></th>
                <th><a href="?sort=phone{% if sort == 'phone' %}&direction={{ direction|opposite }}{% endif %}">Telefon</a></th>
                <th><a href="?sort=email{% if sort == 'email' %}&direction={{ direction|opposite }}{% endif %}">e-mail</a></th>
                <th></th>
			</tr>
		</thead>
		<tbody>
			{% for clients in clients_list %}
				<tr>       
					<td>{{clients.name}}</td>
					<td>{{clients.pesel}}</td>
					<td>{{clients.nip}}</td>
					<td>{{clients.adress}}</td>
					<td>{{clients.city}}</td>
					<td>{{clients.zip}}</td>
					<td>{{clients.phone}}</td>
                    <td>{{clients.email}}</td>
					<td>
						<button><i class="fa-regular fa-eye"></i></button>
						<button><i class="fa fa-cog"></i></button>
					</td>
				</tr>
				{% empty %}
				<tr>
                    <td colspan="9">Brak klientów spełniających podane kryteria.</td>
                </tr>
				{% endfor %}
		</tbody>
	</table>

{% endblock %}

{% include 'footer.html' %}