{% load static %}
{% include 'head.html' %}
   
{% block content %}

    <br/>
	<table>
		<thead>
			<tr>
                
                <th>Imię i nazwisko klienta<br> / Nazwa firmy</th>
				<th>PESEL</th>
				<th>NIP</th>
				<th>Adres</th>
				<th>Miasto</th>
                <th>Kod pocztowy</th>
                <th>Telefon</th>
                <th>e-mail</th>
				<th><button class="btn btn-dark" onclick="location.href='add_client'" >Dodaj klienta</button></th>
                
			</tr>
		</thead>
		<tbody>
			{% for clients in clients_list %}
				<tr>       
					<td>{{clients.name}}</td>
					<td>
						{% if clients.pesel == None %}
							-
						{% else %}
							{{clients.pesel}}
						{% endif %}
					</td>
					<td>
						{% if clients.nip == None %}
							-
						{% else %}
							{{clients.nip}}
						{% endif %}
					</td>
					<td>{{clients.adress}}</td>
					<td>{{clients.city}}</td>
					<td>{{clients.zip}}</td>
					<td>{{clients.phone}}</td>
                    <td>{{clients.email}}</td>
					<td>
						<button><i class="fa-regular fa-eye"></i></button>
						<button><i class="fa fa-cog"></i></button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br/>

{% endblock %}

{% include 'footer.html' %}