{% extends 'head.html' %}
{% load static %}
{% block content %}

<section>
     <div class="container">
         <h2>Często zadawane pytania</h2>
         <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
 
             <div class="panel panel-default">
                 <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                     <h3 class="panel-title">
                         <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                             Jak mogę zobaczyć dostępne samochody w waszym komisie?
                         </a>
                     </h3>
                 </div>
                 <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                     <div class="panel-body px-3 mb-4">
                         <p>
                             Możesz przeglądać dostępne samochody na naszej stronie internetowej w sekcji "Samochody" lub odwiedzić nasz komis samochodowy osobiście.
                         </p>
                     </div>
                 </div>
             </div>
 
             <div class="panel panel-default">
                 <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                     <h3 class="panel-title">
                         <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                             Jak mogę umówić się na jazdę próbną samochodem, który mnie interesuje?
                         </a>
                     </h3>
                 </div>
                 <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                     <div class="panel-body px-3 mb-4">
                         <p>
                             Aby umówić się na jazdę próbną, prosimy o kontakt telefoniczny lub wysłanie wiadomości e-mail. Nasz personel pomoże ustalić dogodny termin i przygotuje samochód do jazdy próbnej.
                         </p>
                     </div>
                 </div>
             </div>
 
             <div class="panel panel-default">
                 <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                     <h3 class="panel-title">
                         <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                             Czy oferujecie gwarancję na sprzedawane samochody?
                         </a>
                     </h3>
                 </div>
                 <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                     <div class="panel-body px-3 mb-4">
                         <p>
                             Tak, wszystkie nasze samochody są objęte gwarancją. Szczegóły dotyczące gwarancji można znaleźć w opisie każdego samochodu na naszej stronie internetowej.
                         </p>
                     </div>
                 </div>
             </div>
 
             <div class="panel panel-default">
               <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                   <h3 class="panel-title">
                       <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                           Czy oferujecie finansowanie lub leasing samochodów?
                       </a>
                   </h3>
               </div>
               <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                   <div class="panel-body px-3 mb-4">
                       <p>
                           Tak, współpracujemy z różnymi instytucjami finansowymi, które oferują finansowanie i leasing samochodów. Nasi doradcy finansowi chętnie pomogą w znalezieniu najlepszego rozwiązania dla twoich potrzeb.
                       </p>
                   </div>
               </div>
           </div>
           
           <div class="panel panel-default">
               <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
                   <h3 class="panel-title">
                       <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                           Czy przyjmujecie samochody w rozliczeniu?
                       </a>
                   </h3>
               </div>
               <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                   <div class="panel-body px-3 mb-4">
                       <p>
                           Tak, przyjmujemy samochody w rozliczeniu. Nasz zespół oceni twój samochód i przedstawi ofertę na jego podstawie.
                       </p>
                   </div>
               </div>
           </div>
 
           <div class="panel panel-default">
               <div class="panel-heading p-3 mb-3" role="tab" id="heading5">
                   <h3 class="panel-title">
                       <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                           Jakie dokumenty otrzymam przy zakupie samochodu?
                       </a>
                   </h3>
               </div>
               <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                   <div class="panel-body px-3 mb-4">
                       <p>
                           Przy zakupie samochodu otrzymasz wszystkie niezbędne dokumenty, takie jak umowa sprzedaży, faktura VAT, dowód rejestracyjny i aktualny przegląd techniczny.
                       </p>
                   </div>
               </div>
           </div>
           
           <div class="panel panel-default">
               <div class="panel-heading p-3 mb-3" role="tab" id="heading6">
                   <h3 class="panel-title">
                       <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
                           Czy oferujecie usługi serwisowe po zakupie samochodu?
                       </a>
                   </h3>
               </div>
               <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                   <div class="panel-body px-3 mb-4">
                       <p>
                           Tak, oferujemy usługi serwisowe po zakupie samochodu. Współpracujemy z nejlepszymi serwisami w naszej okolicy.
                       </p>
                   </div>
               </div>
           </div>

         </div>
     </div>
 </section>
 
     
{% endblock %}