{% extends 'head.html' %}
{% load static %}
{% block content %}

     <section>
          <div class="container">
               <h2>Często zadawane pytania</h2>
               <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    
                    <div class="panel panel-default">
                         <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                         <h3 class="panel-title">
                              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                                   Czy oferujecie gwarancję na sprzedawane samochody?
                              </a>
                         </h3>
                         </div>
                         <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                              <div class="panel-body px-3 mb-4">
                                   <p>
                                        Tak, wszystkie samochody oferowane przez nasz komis posiadają gwarancję. Czas trwania gwarancji zależy od konkretnego samochodu i jest podany w opisie oferty.
                                   </p>
                              </div>
                         </div>
                    </div>

               </div>
          
          </div>
        </section>
     
{% endblock %}