{% load static %}
<!-- FOOTER -->
     <footer id="footer">
          <div class="container">
               <div class="row">

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Nazwa firmy</h2>
                              </div>
                              <address>
                                   <p>Przykładowy adres <br>00-000 Miasto</p>
                              </address>

                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>

                              <div class="copyright-text"> 
                                   <p>Copyright &copy; 2023 Auto Dealer Pro</p>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="footer-info">
                              <div class="section-title">
                                   <h2>Kontakt</h2>
                              </div>
                              <address>
                                   <p>+48 333 404 556</p>
                                   <p><a href="mailto:contact@company.com">autodealerpro@company.com</a></p>
                              </address>

                              <div class="footer_menu">
                                   <h2>Szybkie linki</h2>
                                   <ul>
                                        <li><a href="home">Strona główna</a></li>
                                        <li><a href="CarList">Lista pojazdów</a></li>
                                        <li><a href="#">###</a></li>
                                        <li><a href="#">###</a></li>
                                        <li><a href="members/login_user">Login</a></li>
                                   </ul>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                         <div class="footer-info newsletter-form">
                              <div class="section-title">
                                   <h2>Newsletter</h2>
                              </div>
                              <div>
                                   <div class="form-group">
                                        <form action="#" method="get">
                                             <input type="email" class="form-control" placeholder="Podaj swój mail" name="email" id="email" required>
                                             <input type="submit" class="form-control" name="submit" id="form-submit" value="Zapisz">
                                        </form>
                                        <span><sup>*</sup> Nasz newsletter to nie spam. Otrzymujesz tylko konkrety</span>
                                   </div>
                              </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>


     <!-- SCRIPTS -->
     <script src="{% static 'home/js/jquery.js' %}"></script>
     <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
     <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'home/js/smoothscroll.js' %}"></script>
     <script src="{% static 'home/js/custom.js' %}"></script>
     <script src="https://kit.fontawesome.com/e1dad58639.js" crossorigin="anonymous"></script>

</body>
</html>