{% load static %}
{% include 'head.html' %}

     <!-- HOME -->
     <section id="home">
          <div class="row">
               <div class="owl-carousel owl-theme home-slider">
                    <div class="item item-first">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-6 col-sm-12">
                                        <h1>Szczęśliwi klienci :p</h1>
                                        <h3>Nasze usługi stawiamy na najwyższym poziomie i zawsze staramy się zadowolić naszych klientów, dlatego chcemy się z nimi pochwalić. Oto kilka przykładów referencji od naszych klientów.</h3>
                                        <a href="CarList" class="section-btn btn btn-default">Poznaj ofertę</a>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="item item-second">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-6 col-sm-12">
                                        <h1>Kompleksowa pomoc</h1>
                                        <h3>Nasi klienci mogą liczyć na pełen profesjonalizm i najwyższą jakość usług. Od samego początku istnienia naszej firmy stawiamy na rzetelność, uczciwość i fachowość. Dzięki temu zyskaliśmy zaufanie tysięcy zadowolonych klientów, którzy polecają nasze usługi swoim bliskim i znajomym.</h3>
                                        <a href="CarList" class="section-btn btn btn-default">Poznaj ofertę</a>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="item item-third">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-6 col-sm-12">
                                        <h1>Szeroka oferta</h1>
                                        <h3>W ofercie posiadamy różne marki i modele, w zależności od potrzeb i preferencji klientów. Znajdziesz u nas zarówno samochody osobowe, jak i dostawcze, o różnym przeznaczeniu i pojemności silnika. Wszystko trzego potrzebujesz, znajdziesz u Nas!</h3>
                                        <a href="CarList" class="section-btn btn btn-default">Poznaj ofretę</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <main>
          <section>
               <div class="container">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                              <div class="text-center">
                                   <h2>O Nas</h2>

                                   <br>

                                   <p class="lead">Jesteśmy zespołem doświadczonych specjalistów, którzy od lat zajmują się sprzedażą i serwisowaniem samochodów. Nasza firma powstała z pasji do motoryzacji i z myślą o zapewnieniu Klientom najlepszej jakości usług.W naszej ofercie znajdziesz szeroki wybór samochodów różnych marek i modeli. Oferujemy auta nowe, używane oraz poleasingowe, które zostały dokładnie sprawdzone i przetestowane przez naszych mechaników. Zawsze staramy się dopasować ofertę do indywidualnych potrzeb i wymagań Klientów.</p>
                              </div>
                         </div>
                    </div>
               </div>
          </section>
          
<section>
               <div class="container">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                              <div class="section-title text-center">
                                   <h2>Polecane Samochody<small>Poznaj Naszą szeroką ofertę</small></h2>
                              </div>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="{% static 'home/images/AutoI.png' %}" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Author"><i class="fa fa-dashboard"></i>21 400km</span>
                                             <span title="Author"><i class="fa fa-cube"></i>3300cc</span>
                                             <span title="Views"><i class="fa fa-cog"></i>Automat</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a href="car-details.html">Kia Stinger</a></h3>

                                        <p class="lead"><small><del> 277.000 zł</del></small> <strong>260.000 zł</strong></p>

                                        <p>370 hp &nbsp;&nbsp;/&nbsp;&nbsp; Benzyna &nbsp;&nbsp;/&nbsp;&nbsp; 2021 &nbsp;&nbsp;/&nbsp;&nbsp;Używany</p>
                                   </div>

                                   <div class="courses-info">
                                        <a href="car-details.html" class="section-btn btn btn-primary btn-block">View More</a>
                                   </div>
                              </div>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="{% static 'home/images/product-2-720x480.jpg' %}" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Author"><i class="fa fa-dashboard"></i> 130 000km</span>
                                             <span title="Author"><i class="fa fa-cube"></i> 1800cc</span>
                                             <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a href="car-details.html">Lorem ipsum dolor sit amet</a></h3>

                                        <p class="lead"><small><del> $11199.00</del></small> <strong>$11179.00</strong></p>

                                        <p>190 hp &nbsp;&nbsp;/&nbsp;&nbsp; Petrol &nbsp;&nbsp;/&nbsp;&nbsp; 2008 &nbsp;&nbsp;/&nbsp;&nbsp; New vehicle</p>
                                   </div>

                                   <div class="courses-info">
                                        <a href="car-details.html" class="section-btn btn btn-primary btn-block">View More</a>
                                   </div>
                              </div>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="{% static 'home/images/product-3-720x480.jpg' %}" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Author"><i class="fa fa-dashboard"></i> 130 000km</span>
                                             <span title="Author"><i class="fa fa-cube"></i> 1800cc</span>
                                             <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a href="car-details.html">Lorem ipsum dolor sit amet</a></h3>

                                        <p class="lead"><small><del> $11199.00</del></small> <strong>$11179.00</strong></p>

                                        <p>190 hp &nbsp;&nbsp;/&nbsp;&nbsp; Petrol &nbsp;&nbsp;/&nbsp;&nbsp; 2008 &nbsp;&nbsp;/&nbsp;&nbsp; Used vehicle</p>
                                   </div>

                                   <div class="courses-info">
                                        <a href="car-details.html" class="section-btn btn btn-primary btn-block">View More</a>
                                   </div>
                              </div>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="{% static 'home/images/product-4-720x480.jpg' %}" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Author"><i class="fa fa-dashboard"></i> 130 000km</span>
                                             <span title="Author"><i class="fa fa-cube"></i> 1800cc</span>
                                             <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a href="car-details.html">Lorem ipsum dolor sit amet</a></h3>

                                        <p class="lead"><small><del> $11199.00</del></small> <strong>$11179.00</strong></p>

                                        <p>190 hp &nbsp;&nbsp;/&nbsp;&nbsp; Petrol &nbsp;&nbsp;/&nbsp;&nbsp; 2008 &nbsp;&nbsp;/&nbsp;&nbsp; Used vehicle</p>
                                   </div>

                                   <div class="courses-info">
                                        <a href="car-details.html" class="section-btn btn btn-primary btn-block">View More</a>
                                   </div>
                              </div>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="{% static 'home/images/product-5-720x480.jpg' %}" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Author"><i class="fa fa-dashboard"></i> 130 000km</span>
                                             <span title="Author"><i class="fa fa-cube"></i> 1800cc</span>
                                             <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a href="car-details.html">Lorem ipsum dolor sit amet</a></h3>

                                        <p class="lead"><small><del> $11199.00</del></small> <strong>$11179.00</strong></p>

                                        <p>190 hp &nbsp;&nbsp;/&nbsp;&nbsp; Petrol &nbsp;&nbsp;/&nbsp;&nbsp; 2008 &nbsp;&nbsp;/&nbsp;&nbsp; New vehicle</p>
                                   </div>

                                   <div class="courses-info">
                                        <a href="car-details.html" class="section-btn btn btn-primary btn-block">View More</a>
                                   </div>
                              </div>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="{% static 'home/images/product-6-720x480.jpg' %}" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Author"><i class="fa fa-dashboard"></i> 130 000km</span>
                                             <span title="Author"><i class="fa fa-cube"></i> 1800cc</span>
                                             <span title="Views"><i class="fa fa-cog"></i> Manual</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a href="car-details.html">Lorem ipsum dolor sit amet</a></h3>

                                        <p class="lead"><small><del> $11199.00</del></small> <strong>$11179.00</strong></p>

                                        <p>190 hp &nbsp;&nbsp;/&nbsp;&nbsp; Petrol &nbsp;&nbsp;/&nbsp;&nbsp; 2008 &nbsp;&nbsp;/&nbsp;&nbsp; New vehicle</p>
                                   </div>

                                   <div class="courses-info">
                                        <a href="car-details.html" class="section-btn btn btn-primary btn-block">View More</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </section>
          
          <section>
               <div class="container">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                              <div class="section-title text-center">
                                   <h2>Latest Blog posts <small>Lorem ipsum dolor sit amet.</small></h2>
                              </div>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="{% static 'home/images/blog-1-720x480.jpg' %}" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Author"><i class="fa fa-user"></i> John Doe</span>
                                             <span title="Date"><i class="fa fa-calendar"></i> 12/06/2020 10:30</span>
                                             <span title="Views"><i class="fa fa-eye"></i> 114</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a href="blog-post-details.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                   </div>

                                   <div class="courses-info">
                                        <a href="blog-post-details.html" class="section-btn btn btn-primary btn-block">Read More</a>
                                   </div>
                              </div>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="{% static 'home/images/blog-2-720x480.jpg' %}" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Author"><i class="fa fa-user"></i> John Doe</span>
                                             <span title="Date"><i class="fa fa-calendar"></i> 12/06/2020 10:30</span>
                                             <span title="Views"><i class="fa fa-eye"></i> 114</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a href="blog-post-details.html">Tempora molestiae, iste, consequatur unde sint praesentium!</a></h3>
                                   </div>

                                   <div class="courses-info">
                                        <a href="blog-post-details.html" class="section-btn btn btn-primary btn-block">Read More</a>
                                   </div>
                              </div>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <div class="courses-thumb courses-thumb-secondary">
                                   <div class="courses-top">
                                        <div class="courses-image">
                                             <img src="{% static 'home/images/blog-3-720x480.jpg' %}" class="img-responsive" alt="">
                                        </div>
                                        <div class="courses-date">
                                             <span title="Author"><i class="fa fa-user"></i> John Doe</span>
                                             <span title="Date"><i class="fa fa-calendar"></i> 12/06/2020 10:30</span>
                                             <span title="Views"><i class="fa fa-eye"></i> 114</span>
                                        </div>
                                   </div>

                                   <div class="courses-detail">
                                        <h3><a href="blog-post-details.html">A voluptas ratione, error provident distinctio, eaque id officia?</a></h3>
                                   </div>

                                   <div class="courses-info">
                                        <a href="blog-post-details.html" class="section-btn btn btn-primary btn-block">Read More</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </section>

          

          <section id="testimonial">
               <div class="container">
                    <div class="row">

                         <div class="col-md-12 col-sm-12">
                              <div class="section-title text-center">
                                   <h2>Referencje<small>z całego Świata</small></h2>
                              </div>

                              <div class="owl-carousel owl-theme owl-client">
                                   <div class="col-md-4 col-sm-4">
                                        <div class="item">
                                             <div class="tst-image">
                                                  <img src="{% static 'home/images/tst-image-1-200x216.jpg' %}" class="img-responsive" alt="">
                                             </div>
                                             <div class="tst-author">
                                                  <h4>Jackson</h4>
                                                  <span>Shopify Developer</span>
                                             </div>
                                             <p>Jako Shopify Developer, jestem bardzo zadowolony z fachowej i profesjonalnej obsługi, jakiej doświadczyłem w tym komisie samochodowym. Widząc, jakie innowacyjne i zaawansowane technologicznie narzędzia wykorzystują w swojej pracy, jestem pewien, że są one w stanie zapewnić swoim klientom najlepsze możliwe doświadczenie podczas zakupu samochodu. Polecam ten komis każdemu, kto szuka wysokiej jakości samochodów i profesjonalnej obsługi.</p>
                                             <div class="tst-rating">
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                             </div>
                                        </div>
                                   </div>

                                   <div class="col-md-4 col-sm-4">
                                        <div class="item">
                                             <div class="tst-image">
                                                  <img src="{% static 'home/images/tst-image-2-200x216.jpg' %}" class="img-responsive" alt="">
                                             </div>
                                             <div class="tst-author">
                                                  <h4>Camila</h4>
                                                  <span>Marketing Manager</span>
                                             </div>
                                             <p>Jako Marketing Manager z wieloletnim doświadczeniem, muszę powiedzieć, że współpraca z tym komisem samochodowym była dla mnie przyjemnością. Ich profesjonalizm, zaangażowanie i znajomość branży samochodowej były wyjątkowe. Dzięki ich pomocy, nasza kampania marketingowa zyskała na skuteczności, a nasza firma była w stanie przyciągnąć nowych klientów i zwiększyć sprzedaż. W moim doświadczeniu, rzadko spotyka się tak wysoki poziom obsługi klienta i jakości usług w branży samochodowej. Polecam ten komis każdemu, kto szuka nie tylko dobrych samochodów, ale także profesjonalnej i skutecznej obsługi klienta.</p>
                                             <div class="tst-rating">
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                             </div>
                                        </div>
                                   </div>

                                   <div class="col-md-4 col-sm-4">
                                        <div class="item">
                                             <div class="tst-image">
                                                  <img src="{% static 'home/images/tst-image-3-200x216.jpg' %}" class="img-responsive" alt="">
                                             </div>
                                             <div class="tst-author">
                                                  <h4>Barbie</h4>
                                                  <span>Art Director</span>
                                             </div>
                                             <p>Jako Art Director, jestem bardzo wymagająca pod względem estetyki i jakości wykonania. Dlatego, kiedy poszukiwałem samochodu, musiałem znaleźć komis samochodowy, który oferuje samochody, które spełniają moje wymagania. Ten komis samochodowy spełnił moje oczekiwania - oferując piękne samochody o wysokiej jakości, które zostały doskonale zaprojektowane i wykonane.</p>
                                             <div class="tst-rating">
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                             </div>
                                        </div>
                                   </div>

                                   <div class="col-md-4 col-sm-4">
                                        <div class="item">
                                             <div class="tst-image">
                                                  <img src="{% static 'home/images/tst-image-4-200x216.jpg' %}" class="img-responsive" alt="">
                                             </div>
                                             <div class="tst-author">
                                                  <h4>Andrio</h4>
                                                  <span>Web Developer</span>
                                             </div>
                                             <p>Zakup samochodu w tym komisie samochodowym był łatwy i intuicyjny dzięki ich przejrzystej stronie internetowej. Jako Web Developer, jestem zawsze zainteresowany dobrym designem i łatwością w obsłudze, a strona internetowa tego komisu spełniła moje oczekiwania. Polecam ten komis samochodowy każdemu, kto szuka łatwego i wygodnego sposobu na zakup samochodu.</p>
                                             <div class="tst-rating">
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                                  <i class="fa fa-star"></i>
                                             </div>
                                        </div>
                                   </div>

                              </div>
                        </div>
                    </div>
               </div>
          </section> 
     </main>

     <!-- CONTACT -->
     <section id="contact">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                              <div class="section-title">
                                   <h2>Skontaktuj się z Nami<small>Pozytywne relacje z klientami to klucz do sukcesu!</small></h2>
                              </div>

                              <div class="col-md-12 col-sm-12">
                                   <input type="text" class="form-control" placeholder="Imię" name="name" required>
                    
                                   <input type="email" class="form-control" placeholder="Adres email" name="email" required>

                                   <textarea class="form-control" rows="6" placeholder="Opis wiadomości" name="message" required></textarea>
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="send message" value="Wyślij wiadomość">
                              </div>

                         </form>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="contact-image">
                              <img src="{% static 'home/images/contact-1-600x400.jpg' %}" class="img-responsive" alt="Smiling Two Girls">
                         </div>
                    </div>

               </div>
          </div>
     </section>       

{% include 'footer.html' %}
