{% extends 'head.html' %}
{% load static %}
{% block content %}

     <!-- HOME -->
     <section id="home">
          <div class="row">
               <div class="owl-carousel owl-theme home-slider">
                    <div class="item item-first">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-6 col-sm-12">
                                        <h1>Szczęśliwi klienci</h1>
                                        <h3>Nasze usługi stawiamy na najwyższym poziomie i zawsze staramy się zadowolić naszych klientów, dlatego chcemy się z nimi pochwalić. Oto kilka przykładów referencji od naszych klientów.</h3>
                                        <a href="{% url 'home:car-list' %}" class="section-btn btn btn-default">Poznaj ofertę</a>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="item item-second">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-6 col-sm-12">
                                        <h1>Kompleksowa pomoc</h1>
                                        <h3>Nasi klienci mogą liczyć na pełen profesjonalizm i najwyższą jakość usług. Od samego początku istnienia naszej firmy stawiamy na rzetelność, uczciwość i fachowość. Dzięki temu zyskaliśmy zaufanie tysięcy zadowolonych klientów, którzy polecają nasze usługi swoim bliskim i znajomym.</h3>
                                        <a href="{% url 'home:car-list' %}" class="section-btn btn btn-default">Poznaj ofertę</a>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div class="item item-third">
                         <div class="caption">
                              <div class="container">
                                   <div class="col-md-6 col-sm-12">
                                        <h1>Szeroka oferta</h1>
                                        <h3>W ofercie posiadamy różne marki i modele, w zależności od potrzeb i preferencji klientów. Znajdziesz u nas zarówno samochody osobowe, jak i dostawcze, o różnym przeznaczeniu i pojemności silnika. Wszystko trzego potrzebujesz, znajdziesz u Nas!</h3>
                                        <a href="{% url 'home:car-list' %}" class="section-btn btn btn-default">Poznaj ofretę</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <main>
          <section>
               <div class="container">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                              <div class="text-center">
                                   <h2>O Nas</h2>

                                   <br>

                                   <p class="lead">Jesteśmy zespołem doświadczonych specjalistów, którzy od lat zajmują się sprzedażą i serwisowaniem samochodów. Nasza firma powstała z pasji do motoryzacji i z myślą o zapewnieniu Klientom najlepszej jakości usług.W naszej ofercie znajdziesz szeroki wybór samochodów różnych marek i modeli. Oferujemy auta nowe, używane oraz poleasingowe, które zostały dokładnie sprawdzone i przetestowane przez naszych mechaników. Zawsze staramy się dopasować ofertę do indywidualnych potrzeb i wymagań Klientów.</p>
                              </div>
                         </div>
                    </div>
               </div>
          </section>
          
          <section>
               <div class="container">
                    <div class="row">
                         <div class="col-md-12 col-sm-12">
                              <div class="section-title text-center">
                                   <h2>Polecane Samochody<small>Poznaj Naszą szeroką ofertę</small></h2>
                              </div>
                         </div>

                         {% for car in caronsale %}
                              {% if car.start_date <= today and today <= car.end_date %}
                                   <div class="col-md-4 col-sm-4">
                                        <div class="courses-thumb courses-thumb-secondary">
                                             <div class="courses-top">
                                                  <div class="courses-image">
                                                       <img src="{{car.car.image.url}}" class="img-responsive" alt="">
                                                  </div>
                                                  <div class="courses-date">
                                                       <span title="Author"><i class="fa fa-dashboard"></i> {{car.car.mileage}} km</span>
                                                       <span title="Author"><i class="fa fa-cube"></i> {{car.car.engine_capacity}} cm<sup>3</sup></span>
                                                       <span title="Views"><i class="fa fa-cog"></i> {{car.car.gear}}</span>
                                                  </div>
                                             </div>
          
                                             <div class="courses-detail">
                                                  <h3><a href="">{{car.car.make}} {{car.car.model}}</a></h3>
          
                                                  <p class="lead"><small><del> {{car.car.price}} zł</del></small> <strong>{{car.new_price}} zł</strong></p>
          
                                                  <p>{{car.car.engine_power}} KM &nbsp;&nbsp;/&nbsp;&nbsp; {{car.car.fuel_type}} &nbsp;&nbsp;/&nbsp;&nbsp; {{car.car.year}} &nbsp;&nbsp;/&nbsp;&nbsp; {{car.car.type}}</p>
                                             </div>
          
                                             <div class="courses-info">
                                                  <a href="{% url 'home:car_details' car.car.id %}" class="section-btn btn btn-primary btn-block">Więcej informacji</a>
                                             </div>
                                        </div>
                                   </div>
                              {% endif %}
                         {% endfor %}

                         
                         
                    </div>
               </div>   


                         
          </section>          

          <section id="testimonial">
               <div class="container">
                    <div class="row">

                         <div class="col-md-12 col-sm-12">
                              <div class="section-title text-center">
                                   <h2>OPINIE KLIENTÓW<small>którzy skorzystali z naszych usług </small></h2>
                              </div>

                              <div class="owl-carousel owl-theme owl-client">
                                   {% for opinion in opinion %}
                                        <div class="col-md-4 col-sm-4">
                                             <div class="item">
                                                  <div class="tst-author">
                                                       <h4>{{ opinion.client_name }}</h4>
                                                       <div class="tst-rating">
                                                            {% for i in ""|center:opinion.client_score %}
                                                                 <i class="fa fa-star"></i>
                                                            {% endfor %}
                                                       </div>
                                                  </div>
                                                  <p>{{ opinion.client_opinion }}</p>
                                             </div>
                                        </div> 
                                   {% endfor %}
                                   
                                    
                              </div>
                        </div>
                    </div>
               </div>
          </section> 
     </main>

     <!-- CONTACT -->
     <section id="contact">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <form id="contact-form" role="form" action="" method="post">
                              <div class="section-title">
                                   <h2>Skontaktuj się z Nami<small>Pozytywne relacje z klientami to klucz do sukcesu!</small></h2>
                              </div>
                              
                              <div class="col-md-12 col-sm-12">
                                   
                                   {% csrf_token %}
                                   {{ contact_form.as_p}}
                                   
                              </div>

                              <div class="col-md-4 col-sm-12">
                                   <input type="submit" class="form-control" name="send message" value="Wyślij wiadomość">
                              </div>

                         </form>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="contact-image">
                              <img src="{% static 'home/images/contact-1-600x400.jpg' %}" class="img-responsive" alt="Smiling Two Girls">
                         </div>
                    </div>

               </div>
          </div>
     </section>       

{% endblock %}
