{% extends 'head.html' %}
{% load static %}
{% block content %}
     
     <section>
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-12">
                         <div class="text-center">
                              <h1>Lista parterów</h1>
                         </div>
     <h2>Auto Moto Centrum</h2>
	<h3>autoryzowany dealer samochodów marki Tesla</h3>
	
	<h2>Serwis Samochodowy Moto Car</h2>
	<h3>specjalizujący się w naprawie samochodów marki BMW</h3>
	
	<h2>Sklep z Częściami Samochodowymi "Parts Car"</h2>
	<h3>oferujący części samochodowe dla wielu marek, w tym dla samochodów z lat 80/90</h3>
	
	<h2>Warsztat Blacharsko-Lakierniczy "Auto Fix"</h2>
	<h3>oferujący kompleksową naprawę blacharsko-lakierniczą elektrycznych samochodów</h3>
	
	<h2>Wypożyczalnia Samochodów "Auto Rent"</h2>
	
	<h2>Producent Opon "Drive" </h2>
	<h3>oferujący wysokiej jakości opony</h3>
	
	<h2>Sklep z Samochodami Używanymi "Auto Trade"</h2>
	<h3>oferujący sprzedaż samochodów używanych różnych marek</h3>

     <h2>Sklep z Akcesoriami Samochodowymi "Auto Style"</h2>
	<h3>oferujący szeroki wybór akcesoriów i gadżetów</h3>

     <h2>Producent Chemii Samochodowej "AutoChem"</h2>
	<h3>oferujący produkty chemiczne do pielęgnacji i konserwacji samochodów</h3>

                              <p class="lead"></p>
                         
                    </div>
               </div>
          </div>
     </section>

{% endblock %}