{% load static %}
{% include 'head.html' %}
{% block content %}
<button class="add-transaction-button" onclick="location.href='add-order'">Dodaj transakcję</button>

<div class="container">
<div class="search-form mb-3">
	<form method="GET">
		<div class="row g-3">
			<div class="col-md-3">
				<input type="text" name="search_client" class="form-control" placeholder="Imię i nazwisko klienta">
			</div>
			<div class="col-md-3">
				<input type="text" name="search_make" class="form-control" placeholder="Marka">
			</div>
			<div class="col-md-3">
				<input type="text" name="search_model" class="form-control" placeholder="Model">
			</div>
			<div class="col-md-3">
				<input type="text" name="search_vin" class="form-control" placeholder="Numer VIN">
			</div>
			<div class="col-md-2">
				<button type="submit" class="btn btn-primary">Szukaj</button>
			</div>
		</div>
	</form>
</div>
<br>

	<table>
		<thead>
			<tr>
                
				<th>ID</th>
                <th>Imię i nazwisko klienta<br> / Nazwa firmy</th>
				<th>Marka</th>
				<th>Model</th>
				<th>VIN</th>
				<th>Cena</th>
                <th>Handlowiec</th>
				<th></th>
                
			</tr>
		</thead>
		<tbody>
			{% for order in order_list %}
				<tr>       
					<td>{{order.order_number}}</td>
					<td>{{order.client}}</td>
					<td>{{order.car.make}}</td>
					<td>{{order.car.model}}</td>
					<td>{{order.car.vin}}</td>
					<td>{{order.order_price}} PLN</td>
					<td>{{order.employee}}</td>
					<td>
						<a href='{% url "show-order" order.order_number %}' class="button"><i class="fa-regular fa-eye"></i></a>
						<a href='{% url "edit-order" order.order_number %}' class="button"><i class="fa-regular fa-edit"></i></a>
						<a href="{% url 'delete-order' order.order_number %}" class="button" onclick="return confirmDelete();"><i class="fa fa-trash"></i></a>

					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
</div>
	<script>
		function confirmDelete() {
    		return confirm("Czy na pewno chcesz usunąć tą transakcję?");
 		}
	</script>

{% endblock %}
{% include 'footer.html' %}