{% load static %}
{% include 'head.html' %}

{% block content %}

<div class='container'>

    <h1>{{order}}</h1>
    <div class="container text-center"></div>
        <div class='row'></div>
            <div class='col'>
                <h3>Przedmiot sprzedazy</h3>
                <p>
                    Marka: {{order.car.make}} <br>
                    Model: {{order.car.model}} <br>
                    <br>
                    Rok produkcji: {{order.car.year}} <br>
                    Przebieg: {{order.car.mileage}} km <br>
                    VIN: {{order.car.vin}} <br>
                    <br>
                    Cena: {{order.car.price}} PLN <br>
                    Cena sprzedazy: {{order.order_price}} PLN
                </p>
            </div>
            <div class='col'>
                <h3>Kupujący</h3>
                
                {% if order.client.pesel == None %}
                    <p>
                        Nazwa firmy: {{order.client.name}} <br>
                        NIP: {{order.client.nip}}
                    </p>
                {% else %}
                    <p>
                        Imię i nazwisko: {{order.client.name}} <br>
                        PESEL: {{order.client.pesel}}
                    </p>
                {% endif %}
                <p>
                    Adres: <br>
                    {{order.client.adress}}<br>
                    {{order.client.zip}} {{order.client.city}}
                </p>
                <p>
                    Kontakt: <br>
                    Telefon: {{order.client.phone}}<br>
                    e-mail: {{order.client.email}}
                </p>
            </div>
            <div class='col'>
                <h3>Handlowiec</h3>
                <p>
                    Imię i nazwisko: {{order.employee.name}} <br>
                    Telefon: {{order.employee.phone}} <br>
                    e-mail: {{order.employee.email}}
                </p>
            </div>
        </div>

</div>

{% endblock %}

{% include 'footer.html' %}