{% load static %}
{% include 'head.html' %}
<title>Lista transakcji samochodowych</title>
<body>
    <button class="add-transaction-button">Dodaj transakcję</button>
	<table>
		<thead>
			<tr>
                
				<th>ID</th>
                <th>Imię i nazwisko klienta<br> / Nazwa firmy</th>
				<th>Marka</th>
				<th>Model</th>
				<th>VIN</th>
				<th>Cena</th>
                <th>Handlowiec</th>
                
			</tr>
		</thead>
		<tbody>
			<tr>
                
				<td>1</td>
                <td>Jan Kowalski</td>
				<td>BMW</td>
				<td>X5</td>
				<td>2015</td>
				<td>120 000 zł</td>
                <td>AutoMania 360</td>
                
			</tr>
			<tr>
                
				<td>2</td>
                <td>Regina Walczuk</td>
				<td>Mercedes</td>
				<td>C-Class</td>
				<td>2018</td>
				<td>150 000 zł</td>
                <td>CarsonDealson</td>
                
			</tr>
			<tr>
                
				<td>3</td>
                <td>Joanna Wałęsa</td>
				<td>Audi</td>
				<td>A4</td>
				<td>2017</td>
				<td>100 000 zł</td>
                <td>Car World</td>
                
			</tr>
			<tr>
                
				<td>4</td>
                <td>Jan Paweł II</td>
				<td>Toyota</td>
				<td>Rav4</td>
				<td>2019</td>
				<td>80 000 zł</td>
                <td>Voyage</td>
                
			</tr>
			<tr>
                
				<td>5</td>
                <td>Rąsia Rączkiewicz</td>
				<td>Ford</td>
				<td>Mustang</td>
				<td>2016</td>
				<td>200 000 zł</td>
                <td>Man's World</td>
                
			</tr>
		</tbody>
	</table>
</body>
{% include 'footer.html' %}