{% load static %}
{% include 'head.html' %}
{% block content %}

    <button class="add-transaction-button">Dodaj transakcję</button>
	<table>
		<thead>
			<tr>
                
				<th>ID</th>
                <th>Imię i nazwisko klienta<br> / Nazwa firmy</th>
				<th>Marka</th>
				<th>Model</th>
				<th>VIN</th>
				<th>Cena</th>
                <th>Handlowiec</th>
				<th></th>
                
			</tr>
		</thead>
		<tbody>
			{% for order in order_list %}
				<tr>       
					<td>{{order.order_number}}</td>
					<td>{{order.client}}</td>
					<td>{{order.car.make}}</td>
					<td>{{order.car.model}}</td>
					<td>{{order.car.vin}}</td>
					<td>{{order.order_price}} PLN</td>
					<td>{{order.employee}}</td>
					<td>
						<button><i class="fa-regular fa-eye"></i></button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
{% include 'footer.html' %}