{% load static %}
{% include 'head.html' %}
<title>Lista transakcji samochodowych</title>
<body>
	<h1>Lista transakcji samochodowych</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Marka</th>
				<th>Model</th>
				<th>Rok produkcji</th>
				<th>Cena</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>BMW</td>
				<td>X5</td>
				<td>2015</td>
				<td>120 000 zł</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Mercedes</td>
				<td>C-Class</td>
				<td>2018</td>
				<td>150 000 zł</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Audi</td>
				<td>A4</td>
				<td>2017</td>
				<td>100 000 zł</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Toyota</td>
				<td>Rav4</td>
				<td>2019</td>
				<td>80 000 zł</td>
			</tr>
			<tr>
				<td>5</td>
				<td>Ford</td>
				<td>Mustang</td>
				<td>2016</td>
				<td>200 000 zł</td>
			</tr>
		</tbody>
	</table>
	<a href="#" class="button">Dodaj transakcję</a>
</body>
{% include 'footer.html' %}