{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

     <title>AutoDealerPro</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}">
     <link rel="stylesheet" href="{% static 'home/css/owl.carousel.css' %}">
     <link rel="stylesheet" href="{% static 'home/css/owl.theme.default.min.css' %}">
     <link rel="stylesheet" href="{% static 'home/css/style2.css' %}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

    

{% block content %}

    <section>
        <div class='container'>
            <h1>Logowanie do systemu</h1>
            <br>
                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        <center>
                        {% for message in messages %}
                                {{ message }}
                        {% endfor %}
                        </center>
                    </div>
                {% endif %} 
            <form action="" method=POST>
                {% csrf_token %}

                <div class="mb-3">
                    <label for="username" class="form-label">Login</label>
                    <input type='text' class="form-control" name="username">
                </div>
                <br>
                <div class="mb-3">
                    <label for="password" class="form-label">Hasło</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <br>

                <button type="submit" class="btn btn-primaty">Login</button>

            </form>
        </div>
    </section>

{% endblock %}
{% include 'footerv2.html' %}