{% extends 'base.html' %}

{% block title %} Dodaj samochoód {% endblock %}

{% block title_v2 %} 👋 {{ user.first_name }}  {{ user.last_name}} {% endblock %}

{% block content %}
    
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Dodaj samochodów</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            {% if submitted %}

                Dodano samochoód!

            {% else %}
                
                <form action="" method=POST enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <input type='submit' value='Dodaj' class='btn btn-secondary'>
                </form>

            {% endif %}
            
        </div>
    </div>
</div> 
    
{% endblock %}