{% extends 'base.html' %}

{% block title %} Promocje {% endblock %}

{% block title_v2 %}{% endblock %}

{% block content %}
    
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista samochodów w promocji
            <a href="{% url 'admin_panel:add-car-on-sale' %}" class="btn btn-primary btn-icon-split btn-sm float-right">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="text">Dodaj promocje</span>
            </a>
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Samochód</th>
                        <th>Cena w promocji</th>
                        <th>Start promocji</th>
                        <th>Koniec promocji</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for car in car_on_sale %}
                        <tr>
                            <td>
                                {% if car.special_offer %}
                                    <i class="fas fa-star"></i>
                                {% else %}
                                    <i class="fas fa-star-half-alt"></i>
                                {% endif %}
                            </td>
                            <td>
                                {{car.car}}
                            </td>
                            <td>
                                {{car.new_price}} PLN
                            </td>
                            <td>
                                {{car.start_date}}
                            </td>
                            <td>
                                {{car.end_date}}
                            </td>
                            <td>
                                <a href="" class="btn btn-primary btn-icon-split btn-sm">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-eye"></i>
                                    </span>
                                </a>
                                <a href="" class="btn btn-primary btn-icon-split btn-sm">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                </a>
                                <a href="#" class="btn btn-danger btn-squere btn-sm" data-toggle="modal" data-target="#deleteModal{{ car.id }}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal{{ car.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ car.id }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel{{ car.id }}">Potwierdzenie usunięcia samochodu</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ELO
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                        <a href="" class="btn btn-danger">Usuń</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    
{% endblock %}