{% extends 'base.html' %}

{% block title %} Lista samochodów {% endblock %}

{% block content %}
    
{% if messages %}
    {% for message in messages %}
        {% if 'success' in message.tags %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </div>
        {% elif 'error' in message.tags %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista samochodów
                <a href="{% url 'admin_panel:add-car' %}" class="btn btn-primary btn-icon-split btn-sm float-right">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Dodaj samochód</span>
                </a>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Rok produkcji</th>
                            <th>Przebieg</th>
                            <th>Paliwo</th>
                            <th>Moc</th>
                            <th>Cena</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for car in car_list %}
                            <tr>
                                <td>
                                    {% if car.availability %}
                                        <i class="fas fa-check-circle text-success"></i>
                                    {% else %}
                                        <i class="fas fa-times-circle text-danger"></i>
                                    {% endif %}
                                </td>
                                <td>{{ car.make }}</td>
                                <td>{{ car.model}}</td>
                                <td>{{ car.year}}</td>
                                <td>{{ car.mileage}} km</td>
                                <td>{{ car.fuel_type}}</td>
                                <td>{{ car.engine_power}} KM</td>
                                <td>{{ car.price }} PLN</td>
                                <td>
                                    <a href="{% url 'admin_panel:edit-car' car.id %}" class="btn btn-primary btn-icon-split btn-sm">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a href="#" class="btn btn-danger btn-squere btn-sm" data-toggle="modal" data-target="#deleteModal{{ car.id }}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>

                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal{{ car.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ car.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel{{ car.id }}">Potwierdzenie usunięcia samochodu</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Czy na pewno chcesz {{car.make}} {{car.model}}?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                            <a href="{% url 'admin_panel:del-car' car.id %}" class="btn btn-danger">Usuń</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}