{% extends 'base.html' %}

{% block title %} Dashboard {% endblock %}

{% block title_v2 %} 
    {% if car.availability %}
        <i class="fas fa-check-circle text-success"></i> {{car}}
    {% else %}
        <i class="fas fa-times-circle text-danger"></i> {{car}}
    {% endif %}
{% endblock %}

{% block content %}

<div class="card shadow mb-4" id="accordion" role="tablist" aria-multiselectable="true">               
    <div class="panel panel-default">
        <div class="card-header py-3" role="tab" id="heading0">
            <h4 class="m-0 font-weight-bold text-primary">
                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                    Podstawowe informacje
                </a>
            </h4>
        </div>
        <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
            <div class="panel-body px-3 mb-4">
                <div class="panel-body px-3 mb-4">
                    <br>
                    <h6>Producent: {{car.make}}</h6>
                    <h6>Model: {{car.model}}</h6>
                    <h6>Rok produkcji: {{car.year}}</h6>
                    <h6>Przebieg: {{car.mileage}}</h6>
                    <h6>VIN: {{car.vin}}</h6>
                    <h6>Cena: {{car.price}} PLN</h6>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card shadow mb-4" id="accordion2" role="tablist" aria-multiselectable="true">               
    <div class="panel panel-default">
        <div class="card-header py-3" role="tab" id="heading0">
            <h4 class="m-0 font-weight-bold text-primary">
                <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion2" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    Informacje rozszerzone
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
            <div class="panel-body px-3 mb-4">
                <div class="panel-body px-3 mb-4">
                    <br>
                        <h6>Pojemność silnika: {{car.engine_capacity}}</h6>
                        <h6>Moc silnika: {{car.engine_power}}</h6>
                        <h6>Typ paliwa: {{car.fuel_type}}</h6>
                        <h6>Typ skrzyni biegów: {{car.gear}}</h6>
                        <h6>Kolor: {{car.color}}</h6>
                        <h6>Ilość miejsc: {{car.seats}}</h6>
                        <h6>Ilość drzwi: {{car.doors}}</h6>
                        <h6>Opis:
                            <br>
                            <i>{{car.description}}</i>
                        </h6>
                    
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}